### 1.WAP TO PRINT SERIES 3 6 9 12 15 18 21 24 27 30 USING "WHILE" LOOP

In [3]:
n = 3
while n<31:
    print(n,end= " ")
    n += 3

3 6 9 12 15 18 21 24 27 30

In [4]:
n = 3
while n<31:
    print(n)
    n += 3

3
6
9
12
15
18
21
24
27
30

### 2.WAP TO PRINT SERIES 10 20 30 40 50 60 70 80 90 100 USING "WHILE" LOOP

In [5]:
n = 10
while n<101:
    print(n,end=" ")
    n += 10

10 20 30 40 50 60 70 80 90 100

### 3.WAP TO PRINT FIRST 10 EVEN NATURAL NUMBERS  IN TUPLE FORMAT USING RANGE()

In [4]:
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [9]:
for i in range(2,21,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [2]:
number = tuple(range(2,22,2))
print(number)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

### 4.WAP TO PRINT SERIES 5 10 15 20 25 30 35 40 USING "for" LOOP & RANGE()

In [11]:
for i in range(5,45,5):
    print(i)

5
10
15
20
25
30
35
40

In [12]:
for i in range(5,41,5):
    print(i,end=" ")

5 10 15 20 25 30 35 40

### 5.WAP TO PRINT SERIES 20 18 16 14 12 10 8 6 4 2 USING "for" LOOP & RANGE()

In [13]:
for i in range(20,0,-2):
    print(i)

20
18
16
14
12
10
8
6
4
2

In [14]:
for i in range(20,0,-2):
    print(i,end=" ")

20 18 16 14 12 10 8 6 4 2