In [3]:
i = 2
while i <= 10:
    if i == 6:
      break
    print(i)
    i += 2

2
4

In [4]:
i = 1
while i <= 10:
    if i == 6:
      break
    print(i)
    i += 1

1
2
3
4
5

### for adding data
#### append()
#### extend()
#### insert()

In [3]:
### append()
a = ['ravi',101,23,'python','banglore']
print('original:',a)
a.append('345.00')
print('after adding:',a)

original: ['ravi', 101, 23, 'python', 'banglore']
after adding: ['ravi', 101, 23, 'python', 'banglore', '345.00']

In [5]:
## extend()
a1 = ['ravi',101,23,'python','banglore']
print('original:',a1)
a1.extend(['bablu',104])
print('after adding:',a1)

original: ['ravi', 101, 23, 'python', 'banglore']
after adding: ['ravi', 101, 23, 'python', 'banglore', 'bablu', 104]

In [14]:
## insert(index)
a2 = ['ravi',101,23,'python','banglore']
print('original:',a2)
a2.insert(3,'ravi')
print('after inserting:',a2)

original: ['ravi', 101, 23, 'python', 'banglore']
after inserting: ['ravi', 101, 23, 'ravi', 'python', 'banglore']

### for delete data

#### pop()
#### pop(index)
#### remove(value)
#### clear()

In [15]:
### pop()
print('original:',a)
a.pop()
print('after deleting:',a)

original: ['ravi', 101, 23, 'python', 'banglore', '345.00']
after deleting: ['ravi', 101, 23, 'python', 'banglore']

In [16]:
### pop(index)
print('original:',a)
a.pop(2)
print('after deleting:',a)

original: ['ravi', 101, 23, 'python', 'banglore']
after deleting: ['ravi', 101, 'python', 'banglore']

In [18]:
### remove(value)
print('original:',a)
a.remove('ravi')
print('after removing:',a)

original: ['ravi', 101, 'python', 'banglore']
after removing: [101, 'python', 'banglore']

In [21]:
### clear()
print('original:',a1)
a1.clear()
print('after clearing:',a1)

original: ['ravi', 101, 23, 'python', 'banglore', 'bablu', 104]
after clearing: []

### keyword to delete a value

#### del()
#### del(index)
#### del(startindex:stopindex:stepindex)

In [26]:
## del()
l = ['uma','mani',101]
print('original:',l)
del l
print('after deleting:',l)

original: ['uma', 'mani', 101]

NameError: name 'l' is not defined

In [29]:
## del(index)
l1 = ['ravi',101,23,'python','banglore']
print('original:',l1)
del l1[1]
print('after deleting:',l1)

original: ['ravi', 101, 23, 'python', 'banglore']
after deleting: ['ravi', 23, 'python', 'banglore']

In [31]:
### del(startindex:stopindex:stepindex)
l1 = ['ravi',101,23,'python','banglore']
print(l1)
del l1[1:4]
print(l1)

['ravi', 101, 23, 'python', 'banglore']
['ravi', 'banglore']

In [32]:
l1 = ['ravi',101,23,'python','banglore']
print(l1)
del l1[0:]
print(l1)

['ravi', 101, 23, 'python', 'banglore']
[]

In [33]:
l1 = ['ravi',101,23,'python','banglore']
print(l1)
del l1[::]
print(l1)

['ravi', 101, 23, 'python', 'banglore']
[]

In [34]:
l1 = ['ravi',101,23,'python','banglore']
print(l1)
del l1[::2]
print(l1)

['ravi', 101, 23, 'python', 'banglore']
[101, 'python']

### list comphersion

##### this is two types 1.expression for v_n in range()
##### 2.expression for v_n in range() using if condition

In [40]:
## 1.
fruits = ['apple','orange','kiwi','mango']
newlist = []
for x in fruits:
    if 'i' in x:
        newlist.append(x)
print(newlist)

['kiwi']

In [41]:
l1 = ['raju','chandru','rosy',101,23]
nl1 = []
for x in l1:
    if x in l1:
        nl1.append(x)
print(nl1)

['raju', 'chandru', 'rosy', 101, 23]

In [42]:
##2.
l1 = ['raju','chandru','rosy',101,23]
nl1 = [x for x in l1]
print(nl1)

['raju', 'chandru', 'rosy', 101, 23]

In [48]:
l1 = ['raju','chandru','rosy',101,23]
nl = []
for x in range(len(l1)):
    if x%2==0:
        nl.append(l1[x])
print('newlist:',nl)

newlist: ['raju', 'rosy', 23]

In [49]:
l1 = ['raju','chandru','rosy',101,23]
nl = [l1[x] for x in range(len(l1)) if x%2==0]
print(nl)

['raju', 'rosy', 23]

### access multiple values from tuple()

In [53]:
tu = 'raju','chandru','rosy',101,23,'ammu','raghu','mani','mani','mani'
print(tu[1:7])

('chandru', 'rosy', 101, 23, 'ammu', 'raghu')

In [54]:
### assignment len() count()  index() min() max() sum()
print(len(tu))

10

In [56]:
## count()
print('original:',tu)
print(tu.count('mani'))
print('after counting:',tu)

original: ('raju', 'chandru', 'rosy', 101, 23, 'ammu', 'raghu', 'mani', 'mani', 'mani')
3
after counting: ('raju', 'chandru', 'rosy', 101, 23, 'ammu', 'raghu', 'mani', 'mani', 'mani')

In [61]:
## index()
tu = 'raju','chandru','rosy',101,23,'ammu','raghu','mani','mani','mani'
print(tu.index('mani'))
print(tu.index("mani",0))

7
7

In [64]:
## min() max() sum()
l = [100,200,500]
print(min(l))

print(max(l))

print(sum(l))

100
500
800

In [68]:
## which which places mani is present in this data using position()
print(tu)
p = 0
for i in tu:
    if i=="mani":
        print(p)
    p += 1

('raju', 'chandru', 'rosy', 101, 23, 'ammu', 'raghu', 'mani', 'mani', 'mani')
7
8
9

In [71]:
## how many times mani is present in this data using count()
print(tu)
c = 0
for i in tu:
    if i=="mani":
        c += 1
print("count of mani:",c)

('raju', 'chandru', 'rosy', 101, 23, 'ammu', 'raghu', 'mani', 'mani', 'mani')
count of mani: 3

In [2]:
l1 = ['mani']
print(l1,type(l1))
l2 = list('uma')
print(l2,type(l2))
l3 = ()
print(l3,type(l3))

['mani'] <class 'list'>
['u', 'm', 'a'] <class 'list'>
() <class 'tuple'>

In [6]:
l1 = ['raju','chandru','rosy',101,23]
oddvalues = l1[1::2]
print(oddvalues)

['chandru', 101]

### exercises

In [2]:
txt = "Hello World"
txt = txt.upper()
print(txt.upper())

HELLO WORLD

In [5]:
a = "welome to python classes"
print(a[])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3258982695.py, line 2)

In [6]:
a = "welome to python classes"
print(a,[])

welome to python classes []

In [7]:
 #count(value,startIndex,stopIndex)-  returns the number of occurrences of a substring.
#method overloading
s = "welome to python classes"
print(s)
print(s.count('o'))
print(s.count('o',10))
print(s.count('o',10,13)) #10-12

welome to python classes
3
1
0

In [8]:
### index() - returns the index of the first occurrence of a substring.
#index()
print(s.index('o'))
print(s.index('o',5))
print(s.index('o',11))
print(s.index('z')) #non-existing

3
8
14

ValueError: substring not found

In [9]:
#find() - returns the index of the first occurrence of a substring. If the substring is not found, it returns -1.
print(s.find('o'))
print(s.find('o',5))
print(s.find('o',11))
print(s.find('z')) #non-existing

3
8
14
-1

### Polymorphism:

Polymorphism:

Polymorphism is the ability of an object to take on multiple forms. This can be achieved through method overriding or method overloading.

Types of Polymorphism:

- Method Overriding: When a subclass provides a different implementation of a method that is already defined in its superclass.
- Method Overloading: When multiple methods with the same name can be defined, but with different parameter lists. (Note: Python does not support method overloading in the classical sense, but it can be achieved using default arguments or variable arguments.)

### forms

Forms in Polymorphism:

In the context of polymorphism, "forms" refers to the different ways an object or a method can behave or be implemented.

Example:

- A Shape object can take the form of a Circle, Rectangle, or Triangle, each with its own implementation of the area() method.
- A print() function can take the form of printing a string, integer, or object, each with its own representation.

### • 2types: overloading(operator, method), method overriding

In [10]:
## operator overloading
print(90+9) #addition
print("Sai"+"Priya")

99
SaiPriya

In [11]:
#min()
s = "pytHon Classes @12:15pm"
print(min(s))
print(max(s))

y

#s = "pytHon Classes @12:15pm"
print(min(s))  # Output: ' '
print(max(s))  # Output: 'y'

- min(s): Returns the character with the smallest ASCII value in the string. In this case, it's a space (' ') which has an ASCII value of 32.
- max(s): Returns the character with the largest ASCII value in the string. In this case, it's 'y' which has an ASCII value of 121.

- Space (' '): 32
- Digits (0-9): 48-57
- Uppercase letters (A-Z): 65-90
- Lowercase letters (a-z): 97-122

In [13]:
## ord()
#A-Z - 65-90
print(ord('A'))                   # print(ord('A'))  # Output: 65
                               # print(ord('Z'))  # Output: 90
print(ord('Z'))

65
90

In [14]:
 #a-z - 97-122
print(ord('a'))
print(ord('z'))

97
122

##The ord() function returns the ASCII value of a character.
#print(ord('a'))  # Output: 97
#print(ord('z'))  # Output: 122

In [16]:
#91-96 - chr()
for i in range(91, 97):
    print(chr(i),end=" ")

[ \ ] ^ _ `

- 91: [
- 92: \
- 93: ]
- 94: ^
- 95: _
- 96: `

In [17]:
#print(ord('0'))  # Output: 48
#print(ord('9'))  # Output: 57
#Digits ASCII Range:
#0-9: 48-57

#0-9 - 48 - 57
print(ord('0'))
print(ord('9'))

48
57

In [18]:
#58-64
for i in range(58,65):
    print(chr(i),end=" ")

: ; < = > ? @

In [5]:
l = ["mani","uma"]
for i in l:
    print(l*3,end=" ")

['mani', 'uma', 'mani', 'uma', 'mani', 'uma'] ['mani', 'uma', 'mani', 'uma', 'mani', 'uma']

In [7]:
l = ["mani","uma"]
print(l)

['mani', 'uma']

In [9]:
l = ["mani","uma"]
for i in l:
    print(l*1,end=" ")

['mani', 'uma'] ['mani', 'uma']

In [10]:
py = "pytHOn"
print(py)
x = py.upper()
print(x)
x1 = py.lower()
print(x1)

pytHOn
PYTHON
python

In [15]:
o =["mani","uma"]
o1 = "".join(o)
print(o1)

maniuma

In [17]:
a = {"mani","priya","ramya","diviya"}
print("original:",a)
del a
print("After removing,set:",a)

original: {'priya', 'ramya', 'mani', 'diviya'}

NameError: name 'a' is not defined