In [8]:
import sqlite3

In [11]:
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
conn.close()
print("Database connected successfully!!!!")

Database connected successfully!!!!

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
cursor.execute("CREATE TABLE STUDENTS(NAME TEXT NOT NULL,AGE INT NOT NULL,COURSE TEXT NOT NULL,ADDRESS CHAR(70))")
conn.close()
print("Table is created successfully!!!..")

Table is created successfully!!!..

In [7]:
## insert data into table
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
cursor.execute("INSERT INTO STUDENTS VALUES('UMA',21,'PYTHON','BANGLORE')")
conn.commit()
conn.close()
print("Inserted data successfully!!!...")

Inserted data successfully!!!...

In [6]:
import sqlite3

In [8]:
## insert data into table
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
cursor.execute("INSERT INTO STUDENTS VALUES('SAI',21,'PYTHON','GOA'),('HARI',34,'C','VELLORE')")
conn.commit()
conn.close()
print("Inserted 2 records successfully!!!...")

Inserted 2 records successfully!!!...

In [9]:
### retrive data from the table-select
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
data = cursor.execute("SELECT * FROM STUDENTS")
for row in data:
    print(row)
conn.close()

('AMMU', 21, 'PYTHON', 'BANGLORE')
('UMA', 21, 'PYTHON', 'BANGLORE')
('SAI', 21, 'PYTHON', 'GOA')
('HARI', 34, 'C', 'VELLORE')
('UMA', 21, 'PYTHON', 'BANGLORE')

In [10]:
##fetchall() -all data giving the output
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
data = cursor.execute("SELECT * FROM STUDENTS").fetchall()
print(data)
conn.close()

[('AMMU', 21, 'PYTHON', 'BANGLORE'), ('UMA', 21, 'PYTHON', 'BANGLORE'), ('SAI', 21, 'PYTHON', 'GOA'), ('HARI', 34, 'C', 'VELLORE'), ('UMA', 21, 'PYTHON', 'BANGLORE')]

In [11]:
## using fetchall for the data to select the particular topics
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
data = cursor.execute("SELECT AGE,ADDRESS FROM STUDENTS").fetchall()
print(data)
conn.close()

[(21, 'BANGLORE'), (21, 'BANGLORE'), (21, 'GOA'), (34, 'VELLORE'), (21, 'BANGLORE')]

In [13]:
##using not fetchall()
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
data = cursor.execute("SELECT AGE,ADDRESS FROM STUDENTS")
for row in data:
   print(row)
conn.close()

(21, 'BANGLORE')
(21, 'BANGLORE')
(21, 'GOA')
(34, 'VELLORE')
(21, 'BANGLORE')

In [3]:
import sqlite3

In [4]:
##updated values into the tables for swipping
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
cursor.execute("UPDATE STUDENTS SET COURSE='JAVA' WHERE NAME='UMA'")
conn.commit()
conn.close()
print("UPDATED RECORD SUCCESSFULLY")

UPDATED RECORD SUCCESSFULLY

In [6]:
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
cursor.execute("UPDATE STUDENTS SET COURSE='PYTHON' WHERE NAME='UMA'")
conn.commit()
conn.close()
print("UPDATED RECORD SUCCESSFULLY")

UPDATED RECORD SUCCESSFULLY

In [8]:
# retrive rows with courses where as python-select
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
data = cursor.execute("SELECT * FROM STUDENTS WHERE COURSE=='PYTHON'")
for row in data:
    print(row)
conn.close()

('AMMU', 21, 'PYTHON', 'BANGLORE')
('UMA', 21, 'PYTHON', 'BANGLORE')
('SAI', 21, 'PYTHON', 'GOA')
('UMA', 21, 'PYTHON', 'BANGLORE')

In [9]:
#retrive rows with courses where as python using fetchall-select
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
data = cursor.execute("SELECT * FROM STUDENTS WHERE COURSE=='PYTHON'").fetchall()
print(data)
conn.close()

[('AMMU', 21, 'PYTHON', 'BANGLORE'), ('UMA', 21, 'PYTHON', 'BANGLORE'), ('SAI', 21, 'PYTHON', 'GOA'), ('UMA', 21, 'PYTHON', 'BANGLORE')]

In [10]:
## delete all rows but not tables-delete
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
cursor.execute("DELETE FROM STUDENTS")
conn.commit()
conn.close()
print("Delete the rows successfully...!!!")

Delete the rows successfully...!!!

In [1]:
import sqlite3

In [4]:
###using the
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
name = input("enter Name:")
age = int(input("enter age:"))
course = input("enter course:")
address = input("enter address:")
cursor.execute("INSERT INTO STUDENTS(NAME,AGE,COURSE,ADDRESS) VALUES(?,?,?,?)",(name,age,course,address))
conn.commit()
conn.close()
print("Inserted data successfully")

enter Name: mani
enter age: 21
enter course: java
enter address: blr

Inserted data successfully

In [5]:
## insert data into table
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
cursor.execute("INSERT INTO STUDENTS VALUES('SAI',21,'PYTHON','GOA'),('HARI',34,'C','VELLORE')")
conn.commit()
conn.close()
print("Inserted 2 records successfully!!!...")

Inserted 2 records successfully!!!...

In [16]:
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
cursor.execute("DELETE FROM STUDENTS WHERE ADDRESS=='GOA,VELLORE'");
conn.commit()
conn.close()
print("DELETED SUCCESSFULLY...")

DELETED SUCCESSFULLY...

In [17]:
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
data = cursor.execute("SELECT * FROM STUDENTS ORDER BY AGE").fetchall()
print(data)
conn.close()

[('mani', 21, 'java', 'blr'), ('SAI', 21, 'PYTHON', 'GOA'), ('HARI', 34, 'C', 'VELLORE')]

In [19]:
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
data = cursor.execute("SELECT * FROM STUDENTS ORDER BY AGE DESC").fetchall()
print(data)
conn.close()

[('HARI', 34, 'C', 'VELLORE'), ('mani', 21, 'java', 'blr'), ('SAI', 21, 'PYTHON', 'GOA')]

In [1]:
import sqlite3

In [12]:
conn = sqlite3.connect("C:\\Users\\DELL\\Desktop\\DBMS\\DS_DB.sqlite")
cursor = conn.cursor()
cursor.execute("CREATE TABLE EMPLOYEES(NAME TEXT NOT NULL,AGE TEXT NOT NULL,SALARY TEXT NOT NULL,ID TEXT NOT NULL)")
conn.commit()
conn.close()
print("TABLE CREATED SUCCESSFULLY....!!!!")

TABLE CREATED SUCCESSFULLY....!!!!